html {
	font-family: "Helvetica";
    box-sizing:border-box;
}

figure {
	margin: 0;
	padding: 0;
}

img {
	width: 320px;
	height: 240px;
	padding: 0.5rem;
	margin: 2rem;
}

a {
	text-decoration: none;
	cursor: pointer;
	margin: 1rem;
	padding: 1rem;
	background-color: lightgreen;
	border-radius: .5em;
	color: black;
}

a:hover {
	background-color: orange;
}

.contenedor-enlaces {
	background-color: lightgrey;
	display: inline-block;
	margin: 2rem;
	padding: 2rem;
	border: 1px solid grey;
}

.imagenes {
	border: 2px solid black;
	width: 25rem;
	height: auto;
	margin-bottom: 2rem;
	background-color: lightgrey;
}